body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #041221;
    /* background-color: whitesmoke; */
    /* font-family: 'Dosis', sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
}

#main {
    box-sizing: border-box;
    width: 1000px;
    margin: auto;
}

/* items articles css */
#articles-bloc {
    padding-top: 60px;
    padding-bottom: 60px;
    clear: both;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4 auto);
    grid-gap: 35px;
}

.articles-card {
    background-color: #FFF;
    border: solid 6px #FFF;

    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, .2);
    transition: 0.2s;
}

.article-photo {
    width: 100%;
    height: 200px;
    display: block;
    margin: auto;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, .2);
}


/* loading bar css */
#loading-bar {
    width: 100%;  
    height: 100%;  
    top: 0px;
    left: 0px;
    position: fixed;  
    display: block;  
    opacity: 0.7;  
    background-color: #fff;  
    z-index: 99;  
    text-align: center; 
}

#loading-image {  
    position: absolute;  
    top: 50%;  
    left: 50%; 
    z-index: 100; 
}


/* navbar css */
.modal-label {
    margin: 15px auto 0;
}

.navbar-nav {
    flex-direction: row;
}

.nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.ml-auto .dropdown-menu {
    left: auto !important;
    right: 0px;
}


/* filtering box */
.form-post {
    max-width: 500px;
    padding: 2rem;
    margin: 2rem auto;
    border-color: #e9ecef;
    border-radius: 0.3rem;
    border: solid;
    display: block;
    background-color: whitesmoke;
}

#post-box {
    display: none;
}

.lead-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#btn-posting-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#filter-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}


/* Search box (keyword) */
#desc-after {
    display: none;
}

#search-container {
    margin: 0 auto 0 auto;
    width: 600px;
}

#search-wrapper {
    position: relative;
    margin: 0 auto 0 auto;
    width: 450px;
    z-index: 1;
}

#searching-keyword {
    border-radius: 25rem;
    font-size: 18px;
    height: 53px;
    width: 450px;
    position: relative;
    background: white;
    padding-left: 23px;
    z-index: 2;
}

.search-btn {
    background: url('../image/search.png') no-repeat center;
    background-size: 21px 21px;
    bottom: 0;
    cursor: pointer;
    margin-inline-end: 5px;
    /* padding: 21px 12px 0; */
    position: absolute;
    right: 0;
    top: 0;
    width: 55px;
    border: white;
    z-index: 4;
}