<!doctype html>
<html lang="en">

<head>

    <!-- Webpage Title -->
    <title>Jungo</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">

    <!-- style -->
    <style type="text/css">
        * {
            font-family: 'Noto Sans KR', sans-serif;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        .comment {
            color: blue;
            font-weight: bold;
        }

        .form-post {
            max-width: 500px;
            padding: 2rem;
            margin: 2rem auto;
            border-color: #e9ecef;
            border-radius: 0.3rem;
            border: solid;
            display: block;
        }

        #post-box {
            display: none;
        }
    </style>

    <script>
        // mytoken 이라는 값으로 쿠키가 없으면, 로그인 창으로 이동시킴
        $(document).ready(function () {
            if ($.cookie('mytoken') == undefined) {
                window.location.href = '/login'
            }
            else {
                load_user_info()
            }
        });

        // 쿠키에 가지고 있는 token을 헤더에 담아서 보냄
        function load_user_info() {
            $.ajax({
                type: "GET",
                url: "/api/uname",
                headers: { 'token_give': $.cookie('mytoken') },
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        $('#uname').text(response['uname']);
                    }
                    else {
                        alert(response['msg'])
                        window.location.href = '/login'
                    }
                }
            });
        }

        // [로그아웃] 버튼 클릭 시 토큰을 쿠키에서 삭제
        function logout() {
            $.removeCookie('mytoken');
            alert('로그아웃 합니다')
            window.location.href = '/login'
        }

        // [검색 당근마켓] 버튼 클릭시 당근마켓 물품 크롤링
        function dgmk_crawl() {
            let keyword = $('#searching-keyword').val();
            let max_price = $('#max-price').val();
            let min_price = $('#min-price').val();

            $.ajax({
                type: "POST",
                url: "/dgmk",
                data: { 'keyword_give': keyword, 'max_price_give': max_price, 'min_price_give': min_price },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg'])
                    }
                    else {
                        alert('크롤링 실패')
                    }
                }
            });
        }

        // [검색 헬로마켓] 버튼 클릭시 당근마켓 물품 크롤링
        function hlmk_crawl() {
            let keyword = $('#searching-keyword').val();
            let max_price = $('#max-price').val();
            let min_price = $('#min-price').val();

            $.ajax({
                type: "POST",
                url: "/hlmk",
                data: { 'keyword_give': keyword, 'max_price_give': max_price, 'min_price_give': min_price },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg'])
                    }
                    else {
                        alert('크롤링 실패')
                    }
                }
            });
        }


    </script>
</head>

<body>
    <div class="wrap">
        <div class="jumbotron">
            <h1 class="display-4">나홀로 링크 메모장!</h1>
            <p class="lead">중요한 링크를 저장해두고, 나중에 볼 수 있는 공간입니다</p>
            <hr class="my-4">
            <p class="lead">
                <a id="btn-posting-box" class="btn btn-primary btn-lg" onclick="logout()" role="button">로그아웃</a>
                <div class="card-columns">
                    <label for="searching-keyword">검색할 키워드</label>
                    <input id="searching-keyword" class="form-control" placeholder="">
                    <label for="max-price">상한가</label>
                    <input id="max-price" class="form-control" placeholder="">
                    <label for="min-price">하한가</label>
                    <input id="min-price" class="form-control" placeholder="">
                </div>
                <div class="card=columns">
                    <a id="btn-posting-box" class="btn btn-primary btn-lg" onclick="dgmk_crawl()"
                        role="button">검색[당근마켓]</a>
                    <a id="btn-posting-box" class="btn btn-primary btn-lg" onclick="hlmk_crawl()"
                        role="button">검색[헬로마켓]</a>
                </div>
            </p>
        </div>
        <!-- <div class="form-post" id="post-box">
            <div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">아티클 URL</label>
                    <input id="posting-url" class="form-control" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">간단 코멘트</label>
                    <textarea id="posting-comment" class="form-control" rows="2"></textarea>
                </div>
                <button onclick="posting()" type="button" class="btn btn-primary">기사저장</button>
            </div>
        </div> -->
        <div class="card-columns" id="cards-box">
            <div class="card">
                <img class="card-img-top"
                    src="https://www.eurail.com/content/dam/images/eurail/Italy%20OCP%20Promo%20Block.adaptive.767.1535627244182.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="card-title">여기 기사 제목이 들어가죠</a>
                    <p class="card-text">기사의 요약 내용이 들어갑니다. 동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라만세 무궁화 삼천리 화려강산...</p>
                    <p class="card-text comment">여기에 코멘트가 들어갑니다.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>