<!doctype html>
<html lang="en">

<head>
    <!-- Webpage Title -->
    <title>Jungo Login</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/login.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<script>
    function onLoginBtnClick() {
        // [LOGIN] 버튼 - 로그인 화면으로 전환
        if ($('.login').css('display') == 'none') {
            $('.form').addClass('animated flipInY');
            $('.sign-up').hide();
            $('.login').show();
            setTimeout(function () {
                $('.form').removeClass('animated flipInY');
            }, 1000);
        }
        // [LOGIN] 버튼 - 입력된 정보가 DB에 있는지 확인
        else {
            let user_id = $('#l-uid').val();
            let user_pw = $('#l-upw').val();

            if (user_id == "") {
                alert('아이디를 입력해주세요.')
                $('#uid').focus();
                return
            }
            else if (user_pw == "") {
                alert('비밀번호를 입력해주세요.')
                $('#upw').focus();
                return
            }

            $.ajax({
                type: "POST",
                url: "/api/login",
                data: { 'uid_give': user_id, 'upw_give': user_pw },
                success: function (response) {
                    if (response['result'] == 'success') {
                        console.log('login success')
                        $.cookie('mytoken', response['token']);
                        alert('로그인 성공!!')
                        window.location.href = '/'
                    }
                    else {
                        alert('로그인 실패...')
                    }
                }
            });
        }
    }

    function onSignupBtnClick() {
        // [SIGN UP] 버튼 - 회원가입 화면으로 전환
        if ($('.sign-up').css('display') == 'none') {
            $('.form').addClass('animated flipInY');
            $('.sign-up').show();
            $('.login').hide();
            setTimeout(function () {
                $('.form').removeClass('animated flipInY');
            }, 1000);
        }
        // [SIUN UP] 버튼 - DB에 회원정보 저장
        else {
            let user_id = $('#uid').val();
            let user_pw = $('#upw').val();
            let user_name = $('#uname').val();

            if (user_id == "") {
                alert('아이디를 입력해주세요.')
                $('#uid').focus();
                return
            }
            else if (user_pw == "") {
                alert('비밀번호를 입력해주세요.')
                $('#upw').focus();
                return
            }
            else if (user_name == "") {
                alert('이름을 입력해주세요.')
                $('#uname').focus();
                return
            }

            $.ajax({
                type: "POST",
                url: "/api/register",
                data: { 'uid_give': user_id, 'upw_give': user_pw, 'uname_give': user_name },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입 성공 / 로그인화면 이동')
                        onLoginBtnClick()
                    }
                    else if (response['result'] == 'fail') {
                        alert(response['msg'])
                    }
                }
            });
        }
    }

</script>


<body>

    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form">
                        <!-- 회원가입 -->
                        <div class="input-container sign-up">
                            <div class="avatar-wrapper">
                                <img src="../static/image/login_profile.png" class="avatar" />
                            </div>
                            <h2>sign up</h2>
                            <p>Its free and only takes a minute</p>
                            <input id="uid" type="text" class="form-control" placeholder="ID" required />
                            <input id="upw" type="password" class="form-control" placeholder="Password" required />
                            <input id="uname" type="text" class="form-control" placeholder="Username" required
                                autocomplete="new-password" />
                        </div>
                        <!-- 로그인 -->
                        <div class="input-container login">
                            <div class="avatar-wrapper">
                                <img src="../static/image/login_profile.png" class="avatar" />
                            </div>
                            <br>
                            <h2>Login</h2>
                            <p>Welcome back to jungo</p>
                            <input id="l-uid" type="text" class="form-control" placeholder="ID" required />
                            <input id="l-upw" type="password" class="form-control" placeholder="Password" required />
                        </div>
                        <!-- 버튼클릭 -->
                        <div class="button-group">
                            <button id="btn-login" class="btn login-btn" type="submit"
                                onclick="onLoginBtnClick()">LOGIN</button>
                            <button id="btn-member" class="btn signup-btn" type="submit"
                                onclick="onSignupBtnClick()">SIGN UP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>