<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Webpage Title -->
    <title>Jungo 로그인</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/login.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<script>
    // [로그인] 버튼 클릭 시 입력된 정보가 DB에 있는지 확인
    function login_btn() {
        let user_id = $('#uid').val();
        let user_pw = $('#upw').val();

        if (user_id == "") {
            alert('아이디를 입력해주세요.')
            $('#uid').focus();
            return
        }
        else if (user_pw == "") {
            alert('비밀번호를 입력해주세요.')
            $('#upw').focus();
            return
        }

        $.ajax({
            type: "POST",
            url: "/api/login",
            data: { 'uid_give': user_id, 'upw_give': user_pw },
            success: function (response) {
                if (response['result'] == 'success') {
                    console.log('login success')
                    $.cookie('mytoken', response['token']);
                    alert('로그인 완료!')
                    window.location.href = '/'
                }
                else {
                    alert(response['msg'])
                }
            }
        });
    }

    // [회원가입] 버튼 클릭 시 회원가입 페이지로 이동
    function member_btn() {
        window.location.href = '/register'
    }

</script>

<body cellpadding="0" cellspacing="0" marginleft="0" margintop="0" width="100%" height="100%" align="center">

    <div id="login_page" class="card align-middle" style="width:20rem; border-radius:20px;">
        <div class="card-title" style="margin-top:30px;">
            <h2 class="card-title text-center" style="color:#113366;">로그인</h2>
        </div>
        <div class="card-body">
            <form class="form-signin">
                <h5 class="form-signin-heading">아이디</h5>
                <input type="text" id="uid" class="form-control" placeholder="Your ID" required><BR>
                <h5 class="form-signin-heading">비밀번호</h5>
                <input type="password" id="upw" class="form-control" placeholder="Password" required><br>
                <!-- <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> 기억하기
                    </label>
                </div> -->
                <button onclick="login_btn()" id="btn-login" class="btn btn-lg btn-primary btn-block">로그인
                </button>
                <button onclick="member_btn()" id="btn-member" class="btn btn-lg btn-block">회원가입
                </button>
            </form>
        </div>
    </div>

</body>

</html>