<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Webpage Title -->
    <title>Jungo</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap|Pacifico&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<script>
    // mytoken 이라는 값으로 쿠키가 없으면, 로그인 창으로 이동시킴
    $(document).ready(function () {
        // 페이지 로드 후 로딩이미지 숨기기
        $('#loading-bar').hide();
        $('body').hide()

        $('#deleteCheckModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget);
            let deleteUrl = button.data('title');
            let modal = $(this);
        })

        if ($.cookie('mytoken') == undefined) {
            window.location.href = '/login'
        }
        else {
            load_user_info()
        }
    });

    // 쿠키에 가지고 있는 token을 헤더에 담아서 보냄
    function load_user_info() {
        $.ajax({
            type: "GET",
            url: "/api/uname",
            headers: { 'token_give': $.cookie('mytoken') },
            data: {},
            success: function (response) {
                if (response['result'] == 'success') {
                    $('#uname').text(response['uname']);
                    $('body').show();
                }
                else {
                    alert(response['msg'])
                    window.location.href = '/login'
                }
            }
        });
    }

    // [로그아웃] 버튼 클릭 시 토큰을 쿠키에서 삭제
    function logout() {
        $.removeCookie('mytoken');
        console.log('logout')
        window.location.href = '/login'
    }

    // [검색] 버튼 클릭시 당근마켓, 헬로마켓 물품 크롤링
    function searching() {
        let keyword = $('#searching-keyword').val();

        console.log('검색을 시작합니다')
        $('#loading-bar').show();

        $.ajax({
            type: "POST",
            url: "/searching",
            data: { 'keyword_give': keyword },
            success: function (response) {
                console.log('크롤링 결과를 화면에 출력합니다')
                $('#articles-bloc').empty();
                $('#loading-bar').hide();
                // 정상일 때 데이터를 순서대로 화면에 출력
                if (response['result'] == 'success') {
                    let items_dangn = response['items_dangn']
                    let items_hello = response['items_hello']
                    console.log('크롤링 성공')
                    for (let i = 0; i < items_dangn.length; i++) {
                        let title = items_dangn[i]['title']
                        let price = items_dangn[i]['price']
                        let img = items_dangn[i]['img']
                        let link = items_dangn[i]['link']
                        let position = items_dangn[i]['position']
                        make_card_dangn(title, price, img, link, position)
                    }
                    for (let i = 0; i < items_hello.length; i++) {
                        let title = items_dangn[i]['title']
                        let price = items_dangn[i]['price']
                        let img = items_dangn[i]['img']
                        let link = items_dangn[i]['link']
                        make_card_hello(title, price, img, link)
                    }
                }
                else {
                    alert('데이터를 받아오지 못했습니다.')
                    console.log('데이터를 받아오지 못했습니다.')
                }
            }
        });

    }

    // [필터링] 버튼을 클릭 할 경우, 필터링된 데이터를 화면에 출력
    function filter() {
        let keyword = $('#searching-keyword').val();
        let max_price = $('#filter-max').val();
        let min_price = $('#filter-min').val();
        let position = $('#filter-position').val();

        console.log('필터링을 시작합니다.')
        $('#loading-bar').show();

        $.ajax({
            type: "POST",
            url: "/api/filter",
            data: { 'keyword_give': keyword, 'max_price_give': max_price, 'min_price_give': min_price, 'position_give': position },
            success: function (response) {
                console.log('필터링 결과를 화면에 출력합니다')
                $('#articles-bloc').empty();
                $('#loading-bar').hide();
                // 정상일 때 데이터를 순서대로 화면에 출력
                if (response['result'] == 'success') {
                    let items_dangn = response['items_dangn']
                    let items_hello = response['items_hello']
                    console.log('필터링 성공')
                    for (let i = 0; i < items_dangn.length; i++) {
                        let title = items_dangn[i]['title']
                        let price = items_dangn[i]['price']
                        let img = items_dangn[i]['img']
                        let link = items_dangn[i]['link']
                        let position = items_dangn[i]['position']
                        make_card_dangn(title, price, img, link, position)
                    }
                    for (let i = 0; i < items_hello.length; i++) {
                        let title = items_dangn[i]['title']
                        let price = items_dangn[i]['price']
                        let img = items_dangn[i]['img']
                        let link = items_dangn[i]['link']
                        make_card_hello(title, price, img, link)
                    }
                }
                else {
                    alert('필터링과정에 오류가 발생하였습니다.')
                    console.log('필터링과정에 오류가 발생하였습니다.')
                }
            }
        });
    }

    // 당근마켓의 물품들을 화면에 출력
    function make_card_dangn(title, price, img, link, position) {
        let card_list = '<article id="a-1" class="articles-card">\
                            <a href="http://' + link + '" target="_blank"><img src="' + img + '" class="article-photo"></a>\
                            <h5>' + title + '</h5>\
                            <strong>' + price + '</strong>\
                            <p>' + position + '</p>\
                        </article>';
        $('#articles-bloc').append(card_list)
    }

    // 헬로마켓의 물품들을 화면에 출력
    function make_card_hello(title, price, img, link) {
        let card_list = '<article id="a-1" class="articles-card">\
                            <a href="http://' + link + '" target="_blank"><img src="' + img + '" class="article-photo"></a>\
                            <h5>' + title + '</h5>\
                            <strong>' + price + '</strong>\
                            <br>\
                        </article>';
        $('#articles-bloc').append(card_list)
    }

    // [메일예약] 버튼 클릭 시 매시간마다 동작
    function mailsent() {
        let keyword = $('#modal-keyword').val();
        let max_price = $('#modal-max').val();
        let min_price = $('#modal-min').val();
        let you_mail = $('#modal-mail').val();
        // you_mail에 정상적인 메일주소가 입력되었는지 정규식으로 확인해야함

        $.ajax({
            type: "POST",
            url: "/api/mail",
            data: { 'keyword_give': keyword, 'max_price_give': max_price, 'min_price_give': min_price, 'you_give': you_mail },
            success: function (response) {
                console.log('메일 예약이 (매시간 정각) 실행되었습니다.')
                alert('메일 예약이 (매시간 정각) 실행되었습니다')
                if (response['result'] == 'success') {
                    console.log('메일을 전송하여 예약을 취소합니다.')
                    alert('메일을 전송하여 예약을 취소합니다.')
                }
                else {
                    console.log('메일 예약작업을 취소합니다.')
                    alert('메일 예약작업을 취소합니다.')
                }
            }
        });
    }

    // [필터링 설정 열기] [필터링 설정 닫기] 버튼
    function openclose() {
        if ($('#post-box').css('display') == 'none') {
            $('#btn-posting-box').text("필터링 설정 닫기")
            $('#post-box').show()
        }
        else {
            $('#btn-posting-box').text("필터링 설정 열기")
            $('#post-box').hide()
        }
    }


</script>

<body>
    <section id="main">
        <!-- <header> -->
        <!-- navbar 영역 (dropdown) -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Menu </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a id="logoutBtn" class="dropdown-item btn">로그아웃</a>
                        <a id="reserveBtn" class="dropdown-item btn">메일예약</a>
                    </div>
                </li>
            </ul>
        </nav>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <!-- 제목 -->
                <h1 class="display-4">Jungo</h1>
                <p class="lead" style="margin: 30px auto 8px;">[당근마켓] [헬로마켓] 등의 중고거래 사이트에서 상품을 검색합니다.</p>
                <p class="lead" style="margin: 8px auto 8px;">[Menu]를 통해 메일예약 기능을 이용할 수 있습니다.</p>
                <p class="lead" style="margin: 8px auto 30px;">[필터링 설정]을 통해 원하는 가격, 지역의 물품을 검색할 수 있습니다.</p>
                <hr class="my-4">

                <!-- 검색어 입력 -->
                <div class="input-group mb-3">
                    <input id="searching-keyword" type="text" class="form-control" placeholder="어떤 상품을 찾으시나요?"
                        aria-describedby="basic-addon2" style="margin: 0 auto 10px;">
                    <div class="input-group-append">
                        <button id="btn-search" onclick="searching()" type="button" class="btn btn-primary"
                            style="margin: 0 auto 10px;">검색</button>
                    </div>
                    <hr class="my-4">
                </div>

                <!-- 필터링 적용 (상한가, 하한가, 지역)-->
                <p class="lead">
                    <button id="btn-posting-box" onclick="openclose()" type="button"
                        class="btn btn-primary">필터링설정</button>
                </p>
            </div>
        </div>

        <div class="form-post" id="post-box">
            <div class="form-group">
                <label for="exampleFormControlInput1">최소가격</label>
                <input id="filter-min" class="form-control" placeholder="Only Number">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">최대가격</label>
                <input id="filter-max" class="form-control" placeholder="Only Number">
            </div>
            <div class="form-group">
                <label class="modal-label" for="exampleFormControlInput1">지역</label>
                <select id="filter-position" class="custom-select" id="inputGroupSelect01">
                    <option selected>-- 지역을 선택하세요 --</option>
                    <option value="전체">**전체**</option>
                    <option value="서울특별시">서울특별시</option>
                    <option value="경기도">경기도</option>
                    <option value="강원도">강원도</option>
                    <option value="충청북도">충청북도</option>
                    <option value="충청남도">충청남도</option>
                    <option value="경상북도">경상북도</option>
                    <option value="경상남도">경상남도</option>
                    <option value="전라북도">전라북도</option>
                    <option value="전라남도">전라남도</option>
                    <option value="제주도">제주도</option>
                </select>
            </div>
            <button onclick="filter()" type="button" class="btn btn-primary">필터링검색</button>
        </div>


        <!-- </header> -->

        <!-- [검색]버튼 클릭시 Ajax 통신을 할 동안 로딩중 이미지를 보여줌 -->
        <div id="loading-bar">
            <img id="loading-image" src="../static/image/loading-circle.jpg" alt="Loading..." />
        </div>

        <!-- 물품들을 카드형태로 화면에 출력 -->
        <section id="articles-bloc">
            <!-- <article id="a-1" class="articles-card">
                <a href="#"><img src="https://i.ibb.co/0rm0jLf/halloween.jpg" class="article-photo"
                        alt="halloween cakes" /></a>
                <h3>1{{item_title}}</h3>
                <p>1{{item_price}}</p>
            </article> -->
        </section>

    </section>


    <!-- 모달 영역 시작 -->
    <!-- [메일 예약] 버튼 클릭 시 보여지는 모달 내용 -->
    <div class="modal fade" id="reserveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">메일 예약</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group" style="margin: 20px 30px auto 30px;">
                        <label class="modal-label" for="exampleFormControlInput1">검색할 상품</label>
                        <input id="modal-keyword" class="form-control" placeholder="ex) MTB자전거">
                    </div>
                    <div class="form-group" style="margin: 20px 30px auto 30px;">
                        <label class="modal-label" for="exampleFormControlInput1">최소가격(하한가)</label>
                        <input id="modal-min" class="form-control" placeholder="ex) 0">
                    </div>
                    <div class="form-group" style="margin: auto 30px auto 30px;">
                        <label class="modal-label" for="exampleFormControlInput1">최대가격(상한가)</label>
                        <input id="modal-max" class="form-control" placeholder="ex) 100000">
                    </div>
                    <div class="form-group" style="margin: auto 30px auto 30px;">
                        <label class="modal-label" for="exampleFormControlInput1">지역</label>
                        <select id="modal-position" class="custom-select" id="inputGroupSelect01">
                            <option selected>-- 지역을 선택하세요 --</option>
                            <option value="전체">**전체**</option>
                            <option value="서울특별시">서울특별시</option>
                            <option value="경기도">경기도</option>
                            <option value="강원도">강원도</option>
                            <option value="충청북도">충청북도</option>
                            <option value="충청남도">충청남도</option>
                            <option value="전라북도">전라북도</option>
                            <option value="전라남도">전라남도</option>
                            <option value="경상북도">경상북도</option>
                            <option value="경상남도">경상남도</option>
                            <option value="제주도">제주도</option>
                        </select>
                    </div>
                    <div class="form-group" style="margin: auto 30px 30px 30px;">
                        <label class="modal-label" for="exampleFormControlInput1">메일주소</label>
                        <input id="modal-mail" class="form-control" placeholder="ex) sample@gmail.com">
                    </div>
                </div>

                <div class="modal-footer">
                    <a onclick="mailsent()" class="btn btn-primary" type="button" style="color: azure;">예약</a>
                    <button class="btn" type="button" data-dismiss="modal">취소</button>
                </div>

            </div>
        </div>
    </div>


    <!-- [로그아웃] 버튼 클릭 시 보여지는 모달 내용 -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">로그아웃</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group" style="margin: 30px auto 50px auto;">
                        <label class="modal-label" for="exampleFormControlInput1">계정을 로그아웃 합니다 (확인).</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <a onclick="logout()" class="btn btn-primary" type="button" style="color: azure;">확인</a>
                    <button class="btn" type="button" data-dismiss="modal">취소</button>
                </div>

            </div>
        </div>
    </div>

    <!-- 모달 영역 동작에 대한 스크립트 -->
    <script>
        $('#reserveBtn').click(function (e) {
            e.preventDefault();
            $('#reserveModal').modal("show");
        });

        $('#logoutBtn').click(function (e) {
            e.preventDefault();
            $('#logoutModal').modal("show");
        });

    </script>

    <!-- 모달 영역 끝 -->

</body>

</html>